{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Moje posty</li>
    </ol>
  </nav>
  <h2 class="mb-3">Moje posty</h2>
  <a href="{% url 'post_add' %}" class="btn btn-primary mb-3" role="button">Dodaj post</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Temat</th>
          <th>kategoria</th>
          <th>zawartosc</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for post in blog_posts %}
          <tr>
            <td class="align-middle">{{ post.title }}</td>
            <td class="align-middle">{{ post.category.get_html_badge }}</td>
            <td class="align-middle">{{ post.content }}</td>
            <td class="text-right">

            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">Brak stworzonych egzaminów</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
